.schedule-event-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sched-event-label {
    padding: 5px;
}

.sched-event-input {
    padding: 5px 0px;
}

.sched-event-submit {
    width: 80%;
    padding: 10px 15px;
    align-self: center;
}