.hero-container {
    width: 100%;
    height: auto;
}

.hero-banner {
    width: 100%;
    padding: 10px;
    
}

.intro {
    width: 80%;
    text-align: center;
    margin-bottom: 25px;
}

.landing-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.landing-button {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
}