table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
th, td {
    padding: 20px;
    border: 1px solid black;
}

thead {
    width: 100%;
    display: flex;
    justify-content: center;
}

tr {
    width: 100%;
}

.daily-table-date {
    text-align: center;
}