.add-event-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-event-label {
    padding: 5px;
}

.add-event-input {
    padding: 5px 0px;
    margin-bottom: 10px;
}

.notes {
    padding: 25px 0px;
    margin-bottom: 25px;
}

.add-event-submit {
    width: 80%;
    padding: 10px 15px;
    align-self: center;
}